body{
    margin: 0;
    background-color: #5ca1d7;
    text-align: center;
}

ol{
    width: 300px;
    display: table;
    margin: 0 auto
}

li{
    text-align: left;
}

img{
    image-orientation: center;
    width: 40%;
}

blockquote{
    font-family: "cormorant garamond", "serif";
    color: white;
    font-size: 1.7em;
}

h1{
    color: white;
}

p{
    color: white;
}